@font-face {
  font-family: 'Rubik';
  src: url('~assets/fonts/Rubik-VariableFont_wght.woff2')
    format('woff2-variations');
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('~assets/fonts/Rubik-Italic-VariableFont_wght.woff2')
    format('woff2-variations');
  font-style: italic;
}
